@tailwind base;
@tailwind components;
@tailwind utilities;

.react-calendar-heatmap .react-calendar-heatmap__cell {
  width: 7px; /* Adjust cell width */
  height: 7px; /* Adjust cell height */
}
/* src/styles/global.css */
.heatmap-empty {
  fill: #bccbdc; /* Tailwind class for heatmap-empty */
}

.heatmap-scale-0 {
  fill: #ffe601; /* Tailwind class for heatmap-scale-0 */
}

.heatmap-scale-1 {
  fill: #ffc800; /* Tailwind class for heatmap-scale-1 */
}

.heatmap-scale-2 {
  fill: #ffaa00; /* Tailwind class for heatmap-scale-2 */
}

.heatmap-scale-3 {
  fill: #ff9a00; /* Tailwind class for heatmap-scale-3 */
}

.heatmap-scale-4 {
  fill: #ff7a00; /* Tailwind class for heatmap-scale-4 */
}

.react-calendar-heatmap .react-calendar-heatmap__month-label {
  font-weight: bold;
}

.react-calendar-heatmap .react-calendar-heatmap__weekday-label {
  font-weight: bold;
}
