@tailwind base;
@tailwind components;
@tailwind utilities;

.react-calendar-heatmap .react-calendar-heatmap__cell {
  rx: 3; /* Adjust the roundness */
  ry: 3;
  transform: translate(2px, 2px); /* Move the cells to create spacing */
  stroke: white; /* Add a stroke to enhance cell separation */
}

.react-calendar-heatmap .react-calendar-heatmap__cell {
  width: 10px; /* Adjust cell width */
  height: 10px; /* Adjust cell height */
}
/* src/styles/global.css */
.heatmap-empty {
  fill: #ebedf0; /* Tailwind class for heatmap-empty */
}

.heatmap-scale-0 {
  fill: #d6e685; /* Tailwind class for heatmap-scale-0 */
}

.heatmap-scale-1 {
  fill: #8cc665; /* Tailwind class for heatmap-scale-1 */
}

.heatmap-scale-2 {
  fill: #44a340; /* Tailwind class for heatmap-scale-2 */
}

.heatmap-scale-3 {
  fill: #1e6823; /* Tailwind class for heatmap-scale-3 */
}

.heatmap-scale-4 {
  fill: #0d4d13; /* Tailwind class for heatmap-scale-4 */
}

.react-calendar-heatmap text {
  font-size: 12px;
  fill: #767676;
}

.react-calendar-heatmap .react-calendar-heatmap__month-label {
  font-weight: bold;
}

.react-calendar-heatmap .react-calendar-heatmap__weekday-label {
  font-weight: bold;
}
